<div class="login-container">
  <h1>Login</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="input-group">
      <label for="username">Username</label>
      <input
        type="text"
        id="username"
        name="username"
        formControlName="email"
      />
    </div>
    <div class="input-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        formControlName="password"
      />
    </div>
    <button>Login</button>
    @if (emailIsInvalid) {
    <p class="control-error">Please enter a valid email address.</p>
    } @if (passwordIsInvalid) {
    <p class="control-error">
      Please enter a valid password. Must be at least 6 characters long.
    </p>
    } @if (loginInvalid()) {
    <p class="control-error">
      Login failed. Username or password is incorrect.
    </p>
    }
  </form>
</div>
